{% extends "base.html" %}

{% block content %}
  <div class="container">
      <h2>Parolni o'zgartirish</h2>
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Yuborish</button>
      </form>
  </div>
{% endblock %}
