{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h4 class="mb-4 text-center text-primary">Foydalanuvchi profili</h4>
        <div class="row">
            <div class="col-12 mb-3">
                <p><strong class="text-muted">Username:</strong> <span class="text-dark">{{ user.username }}</span></p>
            </div>
            <div class="col-12 mb-3">
                <p><strong class="text-muted">Email:</strong> <span class="text-dark">{{ user.email }}</span></p>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'profile_update' %}" class="btn btn-primary">Profilni tahrirlash</a>
        </div>
    </div>
</div>
{% endblock %}
