{% extends 'base.html' %}

{% block title %}Profilni yangilash{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
        <h2 class="mb-4 text-center text-primary">Profilni yangilash</h2>
        <form method="POST">
            {% csrf_token %}
            {{ u_form.as_p }}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Yangilash</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
